@font-face {
  font-family: 'powerpuff girls';
  src: url('../fontes/powerpuff\ girls\ font.ttf');
}

@font-face {
  font-family: 'new athletic';
  src: url('../fontes/New\ Athletic\ M54.ttf');
}
